/*font vars*/
$primary-font: Roboto, sans-serif;

/*color vars*/
$primary-background-color: #fff;
$secondary-background-color: #f5f4fa;
$accent-background-color: #2f303a;

$primary-text-color: #757575;
$secondary-text-color: #212121;

$accent-color: #2196f3;
$primary-white: #fff;

$hero-text-color: #fff;
$hero-background-image: url(../../images/hero-bg.jpg);

$about-title-block-color: rgba(47, 48, 58, 0.8);

$member-info-title-color: #212121;

$clients-border-color: #afb1b8;

$button-base-color: #f5f4fa;
$button-hover-color: #188ce8;
$button-active-color: #2196f3;
$button-text-color: #212121;
$button-primary-color: #2196f3;

$footer-text-color: rgba(255, 255, 255, 0.6);

$icon-primary-color: #afb1b8;
$icon-contacts-color: #757575;
$icon-footer-background-color: rgba(255, 255, 255, 0.1);
$icon-goals-background-color: #f5f4fa;
$icon-form-color: #212121;
